:root {
    --green: hsl(92, 20%, 35%);
    --green-hover: hsl(92, 20%, 30%);
    --grey: hsl(0, 0%, 30%);
    /* BORDER */
    --form-border-default: hsl(220, 13%, 91%);
}

* {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    flex: 1;
    height: 100vh;
    background-image: url("../img/odin-form-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar > div {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar > p {
    margin-bottom: 10px;
    color: white;
}

.sidebar > p > a {
    color: white;
}

.logo_bar {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 80%;
}

.logo_text {
    color: white;
    font-size: 3rem;
}

.main_container {
    flex: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    word-wrap: break-word;
    max-width: 70ch;
    font-size: 1.2rem;
    padding-left: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.normal_description {
    padding-left: 30px;
}

.form_header {
    font-size: 1.2rem;
    font-weight: bold;
}

label {
    font-size: 0.8rem;
    color: var(--grey);
}

.form_data {
    border: none;
    box-shadow: hsl(0, 0%, 80%) 0 5px 20px 1px;
    padding: 30px 0 30px 30px;
}

.form_column {
    display: flex;
    flex-direction: column;
}

.form_row {
    display: flex;
    gap: 50px;
    margin: 15px 0;
}

.form_row:last-child {
    margin-bottom: 0;
}

input {
    outline: none;
    border: 1px solid var(--form-border-default);
    border-radius: 5px;
    padding: 5px 0 5px 5px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: hsl(0, 0%, 80%) 0 1px 3px 1px;
}

.password_form:invalid {
    border-color: red;
}

.submit_btn {
    border: none;
    border-radius: 7px;
    background-color: var(--green);
    color: white;
    padding: 15px 40px;
    font-weight: bold;
    margin: 20px 30px;
}

.submit_btn:hover {
    background-color: var(--green-hover);
    cursor: pointer;
}

.login_link {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
}

.login_link:hover {
    color: var(--green-hover);
}