:root {
    --green: hsl(71, 25%, 36%);
    --green-hover: hsl(71, 25%, 31%);
    --grey: hsl(0, 0%, 30%);
}

* {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    flex: 1;
    height: 100vh;
    background-image: url("../img/odin-form-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_container {
    flex: 2;
    height: 100vh;
}

.description {
    font-size: 1.2rem;
    padding-left: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.normal_description {
    padding-left: 30px;
}

.form_header {
    font-size: 1.2rem;
    font-weight: bold;
}

label {
    font-size: 0.8rem;
    color: var(--grey);
}

.form_data {
    border: none;
    box-shadow: rgb(165, 165, 165) 0 5px 20px 1px;
    padding: 30px 0 30px 30px;
}

.form_column {
    display: flex;
    flex-direction: column;
}

.form_row {
    display: flex;
    gap: 50px;
    margin: 15px 0;
}

.form_row:last-child {
    margin-bottom: 0;
}

.submit_btn {
    border: none;
    border-radius: 7px;
    background-color: var(--green);
    color: white;
    padding: 15px 40px;
    font-weight: bold;
    margin: 20px 30px;
}

.submit_btn:hover {
    background-color: var(--green-hover);
    cursor: pointer;
}

.login_link {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
}

.login_link:hover {
    color: var(--green-hover);
}